.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-check input {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    flex-shrink: 0;
}

.form-check input:hover {
    cursor: pointer;
}
