.form-field {
    margin-top: 0.5rem;
}

.form-field input {
    padding: 0.5rem;
    width: 100%;
    margin: 0.5rem 0;
    border: 1px solid var(--clr-outline);
}

.required-symbol {
    color: var(--error);
    margin-left: 0.5rem;
}

input.invalid-input {
    border-color: var(--error);
}

.invalid-input-msg {
    color: var(--error);
    margin-top: 0;
}
