:root {
    --clr-primary: #333;
    --clr-background: #e5e5e5;
    --clr-outline: #888;

    --success: #16c784;
    --error: #ea3943;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 20% 25%;
    background: var(--clr-background);
    color: var(--clr-primary);
}
