:root {
    --clr-primary: #333;
    --clr-background: #e5e5e5;
    --clr-outline: #888;
    --clr-accent: #133bed;
    --clr-accent-highlight: rgba(10, 70, 228, 0.9);

    --success: #16c784;
    --error: #ea3943;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: 13px;
}

@media (min-width: 40em) {
    * {
        font-size: 16px;
    }
}

html {
    box-sizing: border-box;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    padding: 10%;
    background: var(--clr-background);
    color: var(--clr-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer {
    display: flex;
    justify-content: right;
    margin-top: 2rem;
    width: 100%;
}
